.btn {
  padding: 8px 1rem;
  border-radius: 6px;
  color: #fff;
  background-color: blueviolet;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.2s ease-in-out;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #d8bfd8;
  color: #00008b;
}

@media (max-width: 410px) {
  .btn {
    font-size: 12px;
  }
}
